.c-morning-song {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #ffffff;

    &__header {
        margin-top: 20px;
        display: flex;
        height: 10%;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;

        h2 {
            font-size: 18px;
            font-weight: bold;
        }

        span {
            font-size: 16px;
            margin-left: auto;
        }
    }

    &__music-list {
        margin-top: 20px;
        height: 90%;
        display: flex;
        // flex: 1 1 auto;
        align-items: center;
        margin-right: 30px;
        // width: 100vw;

        .c-morning-song__music-list--single {
            flex: 0 0 100px;
            width: 100px;
            height: 100px;
            border-radius: 15px;
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            margin-left: 27.5px;
            margin-right: 27.5px;
            transition: all 500ms;

            &:hover {
                box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.38);
            }

        }
        &::after {
            content: "";
            height: 100px;
            width: 12px;
            flex: 0 0 12px;
        }
    }
}